/* General css */

html,
body {
    margin: 0px;
    min-height: 100vh;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

/* Header */

.header {
    display: flex;
    background-color: #1F2937;
    padding: 12px 80px;
    border-bottom: 2px solid white;
}

nav .logo {
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-right: auto;
}

nav ul {
    display: flex;
    align-items: flex-start;
    list-style-type: none;
    margin: 0;
    padding: 0px;
    gap: 16px;
}

nav a {
    text-decoration: none;
    color: #F9FAF8;
    font-size: 18px;
    position: relative;
}

a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #F9FAF8;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }
  
  a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }

/* Body */

.body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* Body - Hero */

.body-hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 120px 80px;
    gap: 48px;
}

.hero-text-block {
    flex: 1;
}

.hero-main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 1000;
}

.hero-secondary-text {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: lighter;
    margin: 12px 0px;
}

button {
    color: #F9FAF8;
    background-color: #3882F6;
    border: none;
    font-weight: 700;
    border-radius: 6px;
    padding: 8px 24px
}

button:hover {
    color: #3882F6;
    background-color: #F9FAF8;
}

.hero-image-block {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: rgb(150, 150, 150);
    /* placeholder settings to be adjusted when image is added */
    height: 250px;
    min-width: 300px;
}

.hero-image-text{
    color: #F9FAF8;
    padding: 16px;
    text-align: center;
}

/* Body - Information */

.body-information {
    display: flex;
    flex-direction: column;
    padding: 60px 80px 120px 80px;
    gap: 48px;
}

.information-title {
    color: #1F2937;
    text-align: center;
    font-size: 36px;
    font-weight: 1000;
}

.information-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.information-block {
    display: flex;
    flex-direction: column;
}

.information-icon {
    outline: 2px solid #3882F6;
    margin-bottom: 8px;
    border-radius: 6px;
    height: 150px;
    width: 150px;
}

.information-text {
    color: #1F2937;
    font-size: 16px;
    font-weight: lighter;
    text-align: center;
    max-width: 150px;
}

/* Body - Quote */

.body-quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding: 120px 80px;
}

.quote-block {
    max-width: 725px;
}

.quote-text {
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    text-align: left;
    padding-bottom: 14px;
}

.quote-author {
    color: #1F2937;
    font-size: 20px;
    font-weight:bolder;
    text-align: right;
}

/* Body - CTA */

.body-cta {
    padding: 120px 80px;
}

.cta-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    padding: 40px;
    border-radius: 6px;
    gap: 16px;
}

.cta-text-block {
    display: flex;
    flex-direction: column;
}

.cta-title {
    color: #F9FAF8;
    font-size: 20px;
    font-weight: 1000;
}

.cta-text {
    color: #F9FAF8;
    font-size: 14px;
    font-weight: 100;
    margin-top: 6px;

}

.cta-block button {
    border: #F9FAF8;
    outline: 2px solid #F9FAF8;
    flex-shrink: 0;
}

/* Footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 12px 48px;
}

.footer-text {
    color: #F9FAF8;
}